* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --bg100: #E8F0EF;
}

body {
    color: var(--bg100);
}

nav {
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    padding: 10px 16px;
}

.menu-handheld, .add_book, nav img{
    height: 40px;
    width: 40px;
}

nav label > input {
    border-radius: 5px;
    height: 40px;
}
